body {
    position: relative;
    background: #000000;
}

#alertMessage{
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
}

.alert-danger {
    background-color: rgb(248 215 218 / 70%);
    border-color: rgb(248 215 218 / 70%);
    font-weight: bold;
    transition: 300ms;
}
